html,
body {
    height: 100%;
    width: 100%;
    background: url("/images/background.jpg") center 100% no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 30px 15px 30px;
}
.container-bg{
    padding: 0!important;
    background: url("/images/ipx-bg-lightgray.png");
}
.navbar-modified {
    background: url("/images/ipx-bg-darkgray.png");
    border-color: none;
    border-radius: 0px;
    border-width: 0px;
    margin-bottom: 30px;
}
.carousel-head{
    height: 300px;
    overflow: hidden;
    margin-bottom: 0;
}
.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}


.nav a{
    color:white;
}
.nav a:hover{
    background-color: red!important;
}
.pb30{
    padding-bottom: 30px;
}

.car-offer{
    height: 300px;
    background: url("/images/ipx-bg-gray.png");
    position: relative;
}
.car-offer-caption{
    position: absolute;
    width: 100%;
    top: 0px;
    display: block;
    height: 10%;
    color: #ffffff;
    font-size: 16px;
    background: url("/images/ipx-bg-gray.png");
    padding: 5px 7px;
}
.car-offer-description{
    display:block;
    width: 100%;
    top: 75%;
    height: 25%;
    color: #ffffff;
    font-size: 14px;
    position: absolute;
    padding: 12px 7px;
    overflow: hidden;
    text-overflow: ellipsis;
    background: url("/images/ipx-bg-gray.png");
}

.car-offer-price{
    display: block;
    position: absolute;
    bottom: 25%;
    width: 40%;
    left: 60%;
    color: #ffffff;
    height: 10%;
    font-size: 16px;
    background: url("/images/ipx-bg-gray.png");
    padding: 5px 7px;
}
.car-offer-price span{
    display: inline;
    background: url("/images/ipx-bg-gray.png");
    box-shadow: 10px 0 0 orange, -10px 0 0 grey;
    padding-bottom: 4px;
}
.select-wrap{
    background: url("/images/ipx-bg-gray.png");
    margin-bottom: 30px;
    padding: 0;
    height: 50px;
}
.select{
    font-size: 18px;
    padding: 12px;
    height: 50px;
    color: #ffffff;
}
.select-active{
    background-color: red;
}
.select a{
    color: #ffffff;
    width: 100%;
}
.select a:hover{
    color: #ffffff;
    width: 100%;
}
